:root {
  --dark-green: #264653;
  --medium-green: #2a9d8f;
  --light-green: #a8dadc;
  --white: #ffffff;
  --light-gray: #f0f0f0;
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--light-gray);
}
