.get-started{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: url('./assets/background.jpg') no-repeat center center/cover;
  }
  
  .get-started-logo {
    text-align: center;
    margin-top: 250px;
  }
  
  .get-started h1 {
    color: white;
    font-size: 65px;
  }
  
  .get-started h2 {
    font-size: 28px;
  }
  
  .get-started button {
    padding: 15px 30px;
    background-color: var(--medium-green);
    color: var(--white);
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .bottom-card {
    background-color: white; /* Fondo blanco para la tarjeta */
    padding: 40px;
  
    border-radius: 30px 30px 0 0; /* Solo redondea las esquinas superiores */
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }